.row-m-t{
    margin-top : 20px !important;
  }

@media only screen and (min-width: 500px) {
  .row-l-t{
    margin-left : 50px !important;
  }
}

@media only screen and (min-width: 500px) {
  .row-r-t{
    margin-right : 50px !important;
  }
   .navbar-default h3{
     font-size: 40px!important;
   }
}

@media only screen and (max-width: 600px) {

.top-btn-xs{
    margin-top: 50px !important;
}


.h-progresos{
    margin-bottom: 100px !important;
}
  }
.margin-component{
    margin-top: 10px;
    margin-bottom: 10px;
}

.none{
    display: none;
}

.margin-top-table{
    margin-top: 40px;
}

.navbar-header {
    width: 100% !important;
}

.margin-top {
    margin-top: 50px !important;
}

.margin-top-big {
    margin-top: 100px !important;
}

.margin-top-nav-sm{
    margin-top: 50px !important;
}


.header {
    margin-bottom: 100px;
}

.no-decorated{
    text-decoration: none !important;
    color: white !important;
}

.no-decorated-black{
    text-decoration: none !important;
    color: black !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: rgba(5, 54, 88, 0.1);
  }
  footer {
    box-sizing: border-box;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: rgba(5, 54, 88, 0.3)!important;
  }

  .footer .row {
    margin: 0;
        background-color: rgba(5, 54, 88, 0.8)!important;
  }

  /*--query--*/


  .bottom-column
{
    position: absolute;
    bottom:0;
    left:0;
  }

  .h-progresos{
      margin-bottom: 170px;
  }

.navbar-default{
  background-color: rgba(5, 54, 88, 0.75);
  color: white !important;
}

.color a{
  color:white!important;
}

.color{
  color:white!important;
}

.thumbnail{
  -webkit-box-shadow: 6px 6px 5px 0px rgba(189,189,189,1);
  -moz-box-shadow: 6px 6px 5px 0px rgba(189,189,189,1);
  box-shadow: 6px 6px 5px 0px rgba(189,189,189,1);
}

.active a {
  color: #000000 !important;
}